.attendeeDiv {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: solid var(--color-04) 0.5px;
  background-color: var(--color-02);
  position: relative;
  flex-direction: column;
  padding: var(--padding-s);

}

.attendeeName {
  font-size: large;
  color: var(--color-05);
  margin-bottom: var(--margin-xxs);
  text-align: center;
}

.attendeeAvatar {
  margin: var(--margin-s);
  margin-top: 0;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}