.showEventsSection {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  width: 100%;
  height: 100vh;
  position: relative;
}

.eventsDivContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: var(--gap-m);
  width: 100%;
  height: 100%;
  margin-top: var(--margin-m);
  margin-bottom: var(--margin-xs);
  overflow: hidden;
  overflow-y: auto;
  padding: var(--padding-s);
  padding-top: var(--padding-s);
}


.eventsIAttendBack {
  position: absolute;
  bottom: 30px;
  right: 40px;
}

@media (max-width: 600px) {
  .eventsDivContainer {
    margin-top: var(--margin-xl);
  }

  .seeMoreButtonEventsP,
  .attendButtonEventsP {
    padding: var(--padding-xs);
  }

  .eventsDivContainer {
    padding-bottom: 65px;
  }

  .eventDivShow {
    width: 70%;
    min-width: 300px;
    height: 30%;
    color: var(--color-03);
    margin-bottom: var(--margin-xl);
    margin-top: var(--margin-xl);
  }

  .showEventTitle {
    text-align: left;
    padding-left: var(--padding-xs);
    font-size: 24px;
  }

  .buttonDiv > button {
    font-size: 10px;
    padding: 6px 10px;
  }


  .eventsIAttendBack {
    position: absolute;
    top: 10px;
    right: 40px;
  }
}
