.seeAttendeeButton {
  font-family: Roboto, sans-serif;
  width: max-content;
  font-weight: 0;
  font-size: 14px;
  color: var(--color-05);
  background-color: var(--color-01);
  padding: 10px 20px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border: solid 2px var(--color-01);
}

.seeAttendeeButton:hover {
  transition: 1000ms;
  transform: translateY(-0px);
  background-color: var(--color-05);
  color: var(--color-01);
}
