.eventInfoUserDiv {
  display: flex;
  height: 50px;
  justify-content: center;
  border-bottom: solid rgba(0, 0, 0, 0.219) 0.5px;
}

.eventInfoUserDiv > p {
  padding: 8px 0px;
}

.eventNameIndUser {
  width: 40%;
}

.eventLocationIndUser {
  width: 25%;
}